<h1>Editing event_instance</h1>

<% form_for(@event_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.label :ticketPrice %><br />
    <%= f.text_field :ticketPrice %>
  </p>
  <p>
    <%= f.label :doorPrice %><br />
    <%= f.text_field :doorPrice %>
  </p>
  <p>
<<<<<<< HEAD
    <%= f.label :hasDoorSales %><br />
    <%= f.text_field :hasDoorSales %>
  </p>
  <p>
=======
>>>>>>> 9969a3d6964c79fbb67cbad780a18d568b1b51c0
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event_instance %> |
<%= link_to 'Back', event_instances_path %>