<h1>Listing event_instances</h1>

<% form_for @search do |f| %>
<p>
  <%= f.label :start_gte, "Start Time Between" %>
  <%= f.text_field :start_gte, :size =>15  %> and <%= f.text_field :start_lte, :size =>15  %>
</p>

<p>
  <%= f.label :age_limit_id_equals, "Age Category"%>
  <%= f.collection_select :age_limit_id_equals, AgeLimit.all, :id, :name %>
</p>

<p>
  <%= f.label :notes_like, "Event Name" %> <br />
  <%= f.text_field :notes_like %>
</p>

<%= f.submit "Search" %>
<%end%>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Notes</th>
    <th>Ticketprice</th>
    <th>Rating</th>
    <th>Doorprice</th>
    
    
  </tr>

<% @event_instances.each do |event_instance| %>
  <tr>
    <td><%=h event_instance.start %></td>
    <td><%=h event_instance.end %></td>
    <td><%=h event_instance.notes %></td>
    <td><%=h event_instance.ticketPrice %></td>
    <td><%=h event_instance.age_limit_id %></td>
    <td><%=h event_instance.doorPrice %></td>
    <td><%= link_to 'Show', event_instance %></td>
    <td><%= link_to 'Edit', edit_event_instance_path(event_instance) %></td>
    <td><%= link_to 'Destroy', event_instance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event_instance', new_event_instance_path %>