<h1>New event_instance</h1>
<% form_for(@event_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
    <%#= calendar_date_select_tag "disabled_field", "January 20, 2007", :disabled => true %> <br />
    <%#= f.calendar_date_select :start, :embedded => true %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>

  <p>
    <%= f.label :age_limit_id, "Age Category" %>
    <%= f.collection_select :age_limit_id, AgeLimit.all, :id, :name, :include_blank => true %>
  </p>

      <p>
    <%= f.label :genre_id, "Genre" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => true %>
  </p>

  <p>
    <%= f.label :ticketPrice %><br />
    <%= f.text_field :ticketPrice %>
  </p>
  <p>
    <%= f.label :doorPrice %><br />
    <%= f.text_field :doorPrice %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', event_instances_path %>