<p>
  <b>Start:</b>
  <%=h @event_instance.start %>
</p>

<p>
  <b>End:</b>
  <%=h @event_instance.end %>
</p>

<p>
  <b>Notes:</b>
  <%=h @event_instance.notes %>
</p>

<p>
  <b>Ticketprice:</b>
  <%=h_euro_b(@event_instance.ticketPrice) %>
</p>

<p>
  <b>Doorprice:</b>
  <%=h_euro_b(@event_instance.doorPrice) %>
</p>

<p>
 Global Avg: <%= ratings_for @event_instance, :dimension => :quality %>
</p>
<p>

<p>
  <b>Hasdoorsales:</b>
  <%=h @event_instance.hasDoorSales %>
</p>

  
 <%= render :partial => 'comment_form' %>
Rating: <%= ratings_for @event_instance, :force_static => true, :dimension => :quality, :small => false, :show_user_rating => false %>

</p>
  <%= render :partial => 'show_comments' %>
<%= link_to 'Edit', edit_event_instance_path(@event_instance) %> |
<%= link_to 'Back', event_instances_path %>
