<h1>Editing business</h1>

<% form_for(@business) do |f| %>
  <%= f.error_messages %>
<<<<<<< HEAD

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :lattitude %><br />
    <%= f.text_field :lattitude %>
  </p>
=======
<%= render :partial => "editform", :object => f %>
  
>>>>>>> 9969a3d6964c79fbb67cbad780a18d568b1b51c0
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @business %> |
<%= link_to 'Back', businesses_path %>