<% content_for :header do %>
       this is the header
<% end %>

<h1>Listing businesses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Province</th>
    <th>City</th>
    <th>Country</th>
    <th>Longitude</th>
    <th>Lattitude</th>
    <th>Business Owner</th>
  </tr>
<!-- GF 14/3/10: Edited the TD data below business.user_id deleted and business.user.login added to show user name not id -->
<% @businesses.each do |business| %>
  <tr>
    <td><%=h business.name %></td>
    <td><%=h business.address %></td>
    <td><%=h business.province %></td>
    <td><%=h business.city %></td>
    <td><%=h business.country %></td>
    <td><%=h business.longitude %></td>
    <td><%=h business.lattitude %></td>
    <td><%=h business.user.login %></td>
    <td><%= link_to 'Show', business %></td>
    <td><%= link_to 'Edit', edit_business_path(business) %></td>
    <td><%= link_to 'Destroy', business, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New business', new_business_path %>