<h1>New business</h1>

<% form_for(@business) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :lattitude %><br />
    <%= f.text_field :lattitude %>
  </p>


    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', businesses_path %>