<div class="heading">
  <h3>Change my password</h3>
</div>
<div class="subContent">

<% form_for @user, :url => {:action => :update}, :method => :put do |f| %>
  <%= f.error_messages %>
  <%= f.label :password %><br />
  <%= f.password_field :password, :class => "inputBox" %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "inputBox" %><br />
  <br />
  <%= f.submit "Update", :class => :register %>
<% end %>

</div>
<div class="end"></div>