<div class="loginBoxHeader">
<h3>Login</h3>
</div>
<div class="loginContent">
<% remote_form_for UserSession.new, :url => { :controller => :login_box, :action => :login }, :method => :get do |f|%>
    <%= f.error_messages %>
    <%= f.label :login %><br />
    <%= f.text_field :login, :class => "inputBox" %><br />
    <br />
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "inputBox"  %><br />
    <br />
    <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
    <br />
    <%= link_to "Not registered?", :controller => :users, :action => :new %>
    <br /><br />
    <%= link_to "Forgotten password?", :controller => :password_resets, :action => :new %>
    <br />
    <%= f.submit "Login", :class => "register" %>
<% end %>
</div>
<div class="loginEnd"></div>