<h1>Editing age_limit</h1>

<% form_for(@age_limit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @age_limit %> |
<%= link_to 'Back', age_limits_path %>